<nav class="navbar bg-dark">
  <div class="container-fluid w-100">
    <span class="navbar-brand mx-auto mb-0 h1 text-white text-center fs-1">MOCK</span>
  </div>
</nav>
<div class="container">

  <div *ngIf="nombre!= ''" class="row">
    <div class="card mt-5 mx-auto card-size">
      <div class="card-body">
        <h5 class="card-title">{{ nombre }}</h5>
        <p class="fw-bold">id: {{ id }}</p>
        <p class="fw-bold">Fecha de creacion: {{ createdAt }}</p>
        <a [href]="avatar" class="btn btn-primary w-100">Ver imagen</a>
      </div>
    </div>
  </div>

</div>

